<div class="resaleimg">
  <h1 id="abouthead">About re$ale</h1>
  <img src="/public/images/resale.png" id="abtImg" />
</div>
<div class="container" id="abtUsCont">
  <div class="row">
    <div class="column" id="colu1">
      <div class="card abtCard">
        <h3>Who are we?</h3>
        <p>Hello! Welcome to re$ale: the brainchild of 4 international MS CS
          students currently in the process of mastering Web Programming. We aim
          to please!</p>
      </div>
    </div>

    <div class="column" id="colu2">
      <div class="card abtCard">
        <h3>What is re$ale?</h3>
        <p>re$ale is an intermediary. It is web application that connects buyers
          to sellers (and vice versa), promising great products and prices!</p>
      </div>
    </div>

    <div class="column" id="colu3">
      <div class="card abtCard">
        <h3>Our inspiration</h3>
        <p>Being international students, we know how hard it is to find
          affordable, everyday items. We created re$ale so no one has to face
          that ever again!</p>
      </div>
    </div>

    <div class="column" id="colu4">
      <div class="card abtCard">
        <h3>How to use re$ale?</h3>
        <p>It couldn't be easier! Browse products, favourite them, comment on
          them, email owners, list your own products, and most importantly, have
          fun with it!</p>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>