<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div id="logo">
      <img
        src="/public/images/resale.png"
        alt="resale logo"
        class="logoimg"
        aria-label="Home Page"
      />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about" aria-label="About resale">About</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/statistics"
            tabindex="-1"
            aria-label="resale statistics"
          >Statistics</a>
        </li>
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hello,
              {{user.firstName}}!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user/{{user._id}}">View
                  Profile</a></li>
              <li><a class="dropdown-item" href="/products/new">Sell Products</a></li>
              <li><a class="dropdown-item" href="/chat">Chat</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a
              class="nav-link"
              href="/users/add"
            >Signup</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>